body{
  height: initial !important;;
}

.results-container{
  width: 60%;
  margin: auto;
  margin-top: 25vh;
  margin-bottom: 2rem;
}

.moss-container{
    width: 300px;
    margin: 20vh auto;
  }
  
  .separator .left{
    height: 1px;
    background-color: gray;
    width: 135px;
    display: inline-block;
    margin-bottom: 5px;
  }
  .sep-word {
    display: inline-block;
    padding: 0px 5px;
  }
  .separator .right{
    height: 1px;
    background-color: gray;
    width: 135px;
    display: inline-block;
    margin-bottom: 5px;
  }
  
  #googlebutton:hover{
    cursor: pointer;
  }

  .moss-results-header{
    text-align: center;
  }